<div class="row">
  <div class="col-md-12">
     <select class="form-control" ng-model="selectedChatRoom" ng-options="chatRoom.name for chatRoom in chatRooms">
     </select>
     <button type="button" ng-click="selectChatRoomBtnOnClick(selectedChatRoom)">select chat room</button>
  </div>
  <div class="col-md-12">
    <input type="text" class="form-control" ng-model="NewChatRoom.name" placeholder="Enter chat room name">
    <button type="button" ng-click="createChatRoomBtnOnClick(NewChatRoom)">Create</button>
      {{NewChatRoom}}
  </div>
</div>